@{
    ViewBag.Title = "About This Application";
}
<h2>@ViewBag.Title</h2>
@{
    ViewBag.Message = "So why create this webpage?";
}
<h4>@ViewBag.Message</h4>

<p>This webpage is my first MVC application for MIS4200. It is designed to be all about me and help me grasp a beginner knowledge in MVC and HTML coding.</p>
