@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
@{
    ViewBag.Message = "This is my contact info with my name, address, phone number, and email";
}
<h4>@ViewBag.Message</h4>

<address>
    Kenneth LaVan<br />
    Copeland 012<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="kl980715@ohio.edu">kl980715@ohio.com</a><br />
</address>