@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kenneth LaVan</h1>
    <p class="lead">Hi! My name is Kenneth LaVan and I am currently a senior studding Management Information Systems and finance. Welcome to my home page describing a little about me!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Acacia Fraternity</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/AcaciaCrestPNG.png" alt="Acacia"height="300">
        <p>
            I rushed Acacia Fraternity my freshman year of college. From there, I worked my way up to the Vice President position my sophomore year. My fraternity focuses on being a collective group of fraternal men who strive to do excellence in the community.
        </p>
        <p><a class="btn btn-default" href="https://www.acacia.org/">Acacia Fraternity Website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ohio University</h2>
        <img src="https://www.ohio.edu/sites/default/files/2019-02/ohioLogo-stacked_fc-copy_1.png" alt="Ohio University" height="300">
        <p>I choose to go to Ohio University as I felt like it was the right place for me to excel as a person. I immediately knew as soon as I visited the campus that it was the right University for me. I quickly declared Finance and MIS as my major because of my passion for both subjects.</p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/">Ohio Univeristy Website &raquo;</a></p>
        @Html.ActionLink("Books", "Index", "Books")
        <br />
        @Html.ActionLink("Authors", "Index", "Authors")
        <br />
        @Html.ActionLink("Publishers", "Index", "Publishers")
        <br />
        @Html.ActionLink("Customers", "Index", "Customers")

    </div>
    <div class="col-md-4">
        <h2>My LinkedIn</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="LinkedIn" height="300">
        <p>I have coded a link that connects you with my LinkedIn profile to view my resume and other credentials.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/kenneth-lavan555">LinkedIn &raquo;</a></p>
    </div>
</div>